@import "./variables.less";

@actorNameHeight: 60px;
@itemImageSize: 34px;

.tormenta20.sheet.actor {
  @import "./bases.less";
  @import "./character.less";
  @import "./npc.less";
  @import "./simple.less";
  @import "./hazard.less";

  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */

  .signika();

  .ability-scores,
  .skills-list {
    .rollable:hover {
      color: red;
      text-shadow: 0 0 10px red;
      cursor: pointer;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  .sheet-header {
    // Portrait Artwork
    img.profile {
      flex: 0 0 @actorImageProfileTabbed;
      max-width: @actorImageProfileTabbed;
      height: @actorImageProfileTabbed;
    }

    // Character Level
    .header-exp {
      flex: 0 0 auto;
      max-width: 130px;
      margin-right: 3px;
      justify-content: flex-end;
      text-align: right;
    }

    // Character Summary
    .summary {
      height: 30px;
      border-bottom: @borderGroove;

      // font-size: 18px;
      select {
        position: relative;
        top: -4px;
      }
    }

    // Primary Attributes
    .attributes {
      flex: 0 0 100%;
      margin: 0;

      .attribute {
        height: 70px;
        margin: 0;
        border: none;
        border-right: @borderGroove;
        border-radius: 0;

        .attribute-footer {
          input {
            height: 18px;
            width: 33%;
          }
        }

        &:last-child {
          border-right: none;
        }

        .attribute-name {
          position: relative;
        }

        .attribute-value {
          height: 30px;
          line-height: 30px;
        }

        // Temporary HP
        input.temphp {
          width: 48%;
        }

        // Attribution Tooltip
        // .property-attribution {
        //   min-width: 150px;
        //   top: 50px;
        //   .signika();
        //   // font-size: 14px;
        //   font-weight: normal;
        //   line-height: 1rem;
        // }
      }
    }
  }

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  // Box Headers
  h4.box-title {
    height: 18px;
    line-height: 16px;
    margin: 4px 4px 0px;
    // font-size: 18px;
    color: @colorOlive;
    border-bottom: 1px solid @colorFaint;
    white-space: nowrap;
    flex: 0;
  }

  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */

  .tab.attributes {
    // overflow: hidden;
    align-items: flex-start;
  }

  ul.attributes {
    flex: 0 0 60px;
    list-style: none;
    margin: 0;
    padding: 0;

    li.attribute {
      // height: 70px;
      margin: 0 5px 0 0;
      border: @borderGroove;
      border-radius: 4px;
      text-align: center;

      &:last-child {
        margin: 0;
      }

      .attribute-value {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        line-height: 28px;
        .signika();

        > * {
          font-weight: 400;
          // font-size: 24px;
        }

        &.multiple input {
          flex: 0 0 33%;
        }
      }

      .attribute-footer {
        flex: 0 0 18px;
        margin-top: -1px;
        line-height: 18px;
        .signika();
        // font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        font-size: var(--font-size-14);
      }

      // Defense panel
    }
  }

  .inventory-equipment ul.attributes {
    flex: 0 0 100px;

    h1 {
      border: unset;
      margin: unset;
    }

    footer select {
      // font-size: 1em;
      height: auto;
    }
  }

  .attributable {
    position: relative;

    &:hover .tooltip {
      display: block;
    }
  }

  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */

  .ability-scores {
    flex: 0 0 auto;
    align-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    border: @borderGroove;
    border-radius: 3px;

    h4.ability-name {
      text-transform: uppercase;
    }

    .atributo-value {
      font-size: var(--font-size-18);
    }

    .attribute-footer {
      font-size: var(--font-size-14);
    }

    h1 {
      // font-size: 1.5rem;
      border: none;
      margin: unset;
    }

    .ability {
      // height: 70px;
      text-align: center;
      // border-bottom: @borderGroove;
      position: relative;

      input.ability-score {
        height: 30px;
        width: 36px;
        margin: 0 auto;
        line-height: 32px;
        // font-size: 24px;
      }

      .config-button {
        right: 2px;
        top: 3px;
        position: absolute;
        display: none;
      }

      &:hover .config-button {
        display: block;
      }

      .ability-modifiers {
        height: 24px;
        margin: -8px 0 0;

        span.ability-mod,
        span.ability-save {
          flex: 0 0 24px;
          height: 22px;
          line-height: 22px;
          // font-size: 16px;
          border-top: @borderGroove;
        }

        span.ability-mod {
          border-right: @borderGroove;
        }

        .ability-proficiency {
          line-height: 30px;
        }

        span.ability-save {
          border-left: @borderGroove;
        }
      }
    }
  }

  // Proficiency Toggle Buttons
  .proficiency-toggle {
    color: @colorBeige;
    // font-size: 12px;
  }

  .proficient .proficiency-toggle {
    color: @colorOlive;
  }

  .locked .proficiency-toggle {
    color: @colorBeige;
    text-shadow: none;
    cursor: default;
  }

  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */

  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */

  .counters {
    flex: none;
    padding: 5px 0;
    margin: 0;
    border-bottom: @borderGroove;

    .counter {
      height: 20px;
      line-height: 20px;

      h4 {
        flex: auto;
        margin: 0;
        // font-size: 13px;
        font-weight: bold;
        color: @colorOlive;
      }

      .counter-value {
        flex: none;
        text-align: right;

        > * {
          display: inline;
        }
      }

      input[type="text"],
      input[type="number"] {
        height: 20px;
        max-width: 20px;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      input[type="checkbox"] {
        position: relative;
        width: 16px;
        height: 16px;
        margin: 0;
        top: 4px;
      }

      span.sep {
        // font-size: 12px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */

  .center-pane {
    height: 100%;
    padding: 0 5px 0 3px;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .traits {
    font-size: var(--font-size-13);

    h3 {
      margin-bottom: 0.25rem;
      text-align: center;
    }

    textarea {
      min-width: 100%;
      min-height: 100px;
    }

    .form-group,
    .form-group-stacked {
      margin: 0 0 3px 0;
      justify-content: space-between;
    }

    label {
      flex: none;
      line-height: 20px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }

    select {
      max-width: 200px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    i.fas {
      float: right;
      margin-right: 3px;
      text-align: right;
      color: #999;

      &:hover {
        color: #111;
        text-shadow: 0 0 10px red;
      }
    }

    .inactive {
      color: @colorTan;
    }

    div {
      display: flex;
    }

    .trait-list {
      list-style: none;
      margin: 0;
      padding: 0 0 0 0.5em;

      .tag {
        display: inline-flex;
        background-color: rgba(0, 0, 0, 0.05);
      }

      .speedtag {
        list-style: none;
        display: inline-flex;
        text-transform: lowercase;

        // background-color: rgba(0, 0, 0, .05);
        &:last-child::after {
          content: "";
        }

        &:after {
          content: ",";
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */

  .tab.powers,
  .tab.inventory,
  .tab.spells {
    // overflow-y: hidden;
  }

  /* Inventory List Filters */
  .inventory-filters {
    margin: 0 8px;
    flex: 0 0 20px;
    justify-content: flex-end;
  }

  .inventory-list {
    overflow: hidden auto;

    .inventory-currency {
      margin-bottom: 5px;
    }
  }

  .tab {
    &.inventory.active {
      display: flex;
      flex-direction: column;
    }

    header {
      &.flexrow {
        gap: 0.5rem;
      }

      .item-controls {
        flex: 0;
        align-content: center;
      }
    }

    .inventory-list {
      flex: 0 1 100%;
    }

    .currency {
      gap: 0.5rem;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: var(--font-size-12);

      .currency-header {
        flex: 0 0 auto;
        text-align: center;
        align-items: center;
        font-size: 18px;
      }

      .currency-item {
        display: flex;
        align-items: center;
        background: @colorFaint;
        border-radius: 5px;
        padding: 0 0.25rem;
        line-height: 30px;
      }

      label {
        flex: unset;
      }

      input {
        margin-left: 0.25rem;
        border: 0;
      }
    }
  }

  // Inventory item lists
  .item-list {
    padding: 0 5px;
    margin: 5px 0;
    background-color: @colorFaint;
    border-radius: 10px;
    font-size: var(--font-size-14);
    list-style: none;

    &.favorites {
      flex: 0;
      margin: 0;

      & + * {
        margin-top: 5px;
      }

      .item-detail {
        flex: 0 0 50px;
      }
    }

    .item {
      * {
        align-items: center;

        .item-description {
          align-items: unset;

          label {
            font-weight: bold;
          }

          span.fa-stack {
            font-size: 14px;
          }

          .item-tipo {
            color: var(--color-text-dark-3);
            font-size: var(--font-size-12);

            &:hover {
              cursor: default;
            }
          }
        }
      }

      &:first-child {
        font-weight: bold;
      }

      &:not(.item-header) {
        &:not(:hover) {
          .item-controls {
            visibility: hidden;

            .item-control.item-toggle.active {
              visibility: visible;
            }
          }
        }

        &:last-child {
          padding-bottom: 2px;
        }
      }

      align-items: center;

      .item-name {
        cursor: pointer;

        .item-image {
          flex: 0 0 @itemImageSize;
          height: @itemImageSize;
          background-size: cover;
          margin-right: 3px;
        }

        input.stored {
          opacity: 0.75;
        }

        &.rollable {
          label:hover {
            color: red;
            text-shadow: 0 0 10px red;
            cursor: pointer;
          }

          &:hover .item-image {
            background-image: url("../../icons/svg/d20-grey.svg") !important;
          }

          .item-image:hover {
            background-image: url("../../icons/svg/d20-black.svg") !important;
          }
        }
      }

      // Item uses
      .item-uses input {
        width: 24px;
        text-align: center;
      }

      // Item Dropdown Properties
      .item-properties {
        margin-top: 3px;
      }

      // Defense
      .item-def {
        flex: 0 0 70px;
      }

      // Charged
      .item-recharge {
        flex: 0 0 80px;
        text-align: right;
        // font-size: 11px;
        white-space: nowrap;
      }
    }

    // Inventory Header
    .item-header {
      line-height: 24px;

      .item-controls a.item-create {
        flex: 0 0 100%;
      }
    }

    // Item Detail Sections
    .item-detail {
      flex: 0 0 70px;
      // font-size: 12px;
      text-align: center;
      border-right: 1px solid @colorFaint;
      word-break: break-word;
      white-space: nowrap;
      overflow: hidden;

      &:last-child {
        border-right: none;
      }

      &.item-action {
        flex: 0 0 100px;
      }

      &.attunement {
        flex: 0 0 24px;
      }
    }

    .item-qty,
    .item-weight,
    .item-controls {
      flex: 0 0 44px;
    }

    .item-equipped {
      flex: 0 0 1em;
    }

    .item-qty,
    .item-weight {
      text-align: center;
      border-left: 1px solid @colorFaint;
      border-right: 1px solid @colorFaint;
    }

    // Item Control Buttons
    .item-controls {
      font-size: 12px;
      text-align: right;
      // height: @itemImageSize;

      .item-control.item-toggle {
        &:not(.active) {
          span {
            i {
              opacity: 0.5;
            }
          }
        }
      }
    }

    .item-toggles {
      flex: 0 0 40px;
      text-align: center;
      font-size: 16px;

      .item-toggle i {
        opacity: 0.5;
      }

      .item-toggle.active i {
        opacity: 1;
      }
    }

    // Item Dropdown Summary
    .item-summary {
      flex: 0 0 100%;
      // font-size: 12px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      color: @colorDark;
      border-top: 1px solid @colorFaint;
    }
  }

  // Inventory item lists
  .skills-list {
    list-style: none;
    margin: 0 5px 0;
    padding: 0;
    border: @borderGroove;
    border-radius: 3px;
    font-size: 16px;

    .item-header {
      font-size: 12px;
      font-weight: bold;
    }

    .skill {
      &.flexrow {
        gap: 5px;
      }

      &:not(.item-header, .create-skill):nth-child(odd) {
        background: #c9c7b8;
      }

      align-items: center;
      height: auto;

      .item-image {
        flex: 0 0 10px;
        margin: 0px 3px;
        font-size: 10px;
      }

      .item-name {
        flex: 1;
      }

      .item-total,
      .item-outros {
        text-align: center;
        flex: 0 0 @itemImageSize;
      }

      .item-abl {
        flex: 0 0 30px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;

        span {
          color: var(--color-text-dark-3);
        }

        select {
          border: none;
          height: 15px;
          text-transform: inherit;
        }
      }

      .item-skill-create {
        flex: 0 0 60px;
      }

      input {
        border: @borderGroove;
        max-height: 17px;
      }
    }
  }

  // Especific rules
  .inventory-weapons .item-list {
    .item-qty,
    .item-weight {
      display: none;
    }
  }

  /* Encumbrance Bar */
  .encumbrance {
    background: @colorTan;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.9) inset;
    padding: 0 0.5rem;

    .encumbrance-bar {
      position: absolute;
      top: 1px;
      left: 1px;
      background: #6c8aa5;
      height: calc(100% - 1px);
      border-radius: 4px;
    }

    .encumbrance-label {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: space-between;
      text-align: center;
      font-weight: 700;
      font-size: var(--font-size-13);
      color: #eee;
      text-shadow: 0 0 2px #000;
    }

    .encumbrance-breakpoint {
      display: block;
      position: absolute;
      border: 4px solid transparent;

      &.encumbrance-30 {
        left: 30%;
      }

      &.encumbrance-50 {
        left: 50%;
      }
    }

    .arrow-up {
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #666;
      border-bottom-color: black;
    }

    .arrow-down {
      top: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #666;
      border-top-color: black;
    }

    &.encumbered {
      .encumbrance-bar {
        background-color: rgb(108, 87, 25);
      }

      .arrow-up {
        border-bottom: 4px solid #000;
      }

      .arrow-down {
        border-top: 4px solid #000;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */

  .spellcasting-ability {
    flex: 0 0 240px;
    margin: 0;

    label,
    span {
      flex: none;
    }

    input {
      flex: 0 0 28px;
      text-align: center;
    }

    select {
      margin: 0 5px;
      flex: 0 0 120px;
    }
  }

  .spell-slots,
  .spell-comps {
    flex: none;
    padding: 0 5px;
    // font-size: 12px;
    color: @colorTan;
    border-right: 1px solid @colorFaint;
  }

  .spell-slots {
    input {
      display: inline;
      max-width: 20px;
    }

    .sep {
      // font-size: 13px;
      font-weight: normal;
    }
  }

  .spellbook .spell-uses {
    padding-right: 5px;
    text-align: right;
    color: @colorTan;
  }

  .spell-school,
  .spell-action,
  .spell-target {
    flex: 0 0 100px;
    // font-size: 12px;
    color: @colorTan;
    text-align: center;
    border-right: 1px solid @colorFaint;
  }

  .spell-component {
    line-height: 14px;

    &.tag {
      display: inline-block;
      text-align: center;
      padding-top: 1px;
      width: 16px;
      color: @colorFaint;
      background: rgba(0, 0, 0, 0.4);
      border: 1px solid transparent;
      border-radius: 8px;
    }
  }

  // Empty spellbook controls
  .spellbook-empty .item-controls {
    flex: 1;
  }

  /* ----------------------------------------- */
  /*  Features Tab                             */
  /* ----------------------------------------- */

  // Original class icon
  .features i.original-class {
    color: #4b4a44;
  }

  .features .item-detail select {
    max-width: 90%;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    min-height: 50px;
    padding: 0px;

    .tox {
      min-height: 8rem;
    }
  }

  .item-description,
  .item-equipped,
  #context-menu {
    span.fa-stack {
      height: 1em;
      line-height: 1em;
      width: 1rem;

      b.fa-stack-1x {
        color: white;
        font-size: 10px;
      }
    }
  }

  #context-menu {
    width: auto;

    [data-group-id]:has(li) {
      position: relative;
      margin-block-start: 0.5rem;

      &::before {
        content: "";
        position: absolute;
        inset-inline: 1rem;
        inset-block-start: -0.25rem;
        border-block-start: 1px solid var(--color-border-light-2);
      }
    }

    span.fa-stack {
      margin-right: 8px;

      .fa-hand-back-fist {
        &::before {
          font-size: 1.2em;
        }
      }
    }

    .context-group {
      border-bottom: none;
    }

    .context-item.flexrow {
      img {
        flex: 0;
        margin-right: 3px;
      }
    }
  }
}

#actor-flags {
  .window-content {
    overflow-y: hidden;
  }

  form {
    height: 100%;
  }

  .form-body {
    height: calc(100% - 40px);
    padding-right: 8px;
    margin-bottom: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  li.attribute.seguranca {
    .attribute-name {
      color: @colorTan;
    }
  }
}
