@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
&.character {
  min-width: 720px;
  min-height: 680px;

  &.tabbed {
    min-width: 650px;
    min-height: 700px;

    .sheet-header {
      h1.charname {
        font-size: 1.5em;
      }

      .header-exp {
        margin-right: 0;
      }
    }

    .attributes.flexrow {
      gap: 4px;
    }

    .encumbrance {
      margin-right: 16px;
    }

    .item-list {
      &:first-child {
        margin-top: 0;
      }
    }

    header:has(.inventory-currency) {
      margin-bottom: 5px;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    .header-exp {
      // Character Level
      .charlevel {
        flex: 1;
        gap: 0.5rem;
        color: @colorDark;
        white-space: nowrap;
        height: @actorNameHeight;
        align-items: center;

        * {
          margin-left: auto;
        }

        .level {
          flex: 0 0 76px;
          // font-size: 2em;
          padding: 3px 6px;
          border: 1px solid transparent;
          border-radius: 4px;
          background: @colorFaint;
          line-height: 1;
          text-align: center;
        }
      }

      // Experience Tracking
      .experience {
        font-size: var(--font-size-14);
        align-items: center;

        // font-size: 18px;
        input {
          height: auto;
        }

        span.max-xp {
          color: @colorTan;
          flex: none;
          margin: 0px 3px;
        }
      }

      .xpbar {
        flex: 0 0 8px;
        width: 100%;
        margin-bottom: 3px;
        background: @colorTan;
        border: 1px solid #000;
        border-radius: 3px;

        .bar {
          height: 6px;
          display: block;
          background: #5ee192;
          border-radius: 2px;
        }
      }
    }

    // Header Attributes
    .attributes {
      a.rest {
        border: 1px solid @colorBeige;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        padding: 0 3px;
        margin: 0 3px;
      }
    }

    .summary .char-race,
    .summary .char-class {
      color: revert;
      white-space: nowrap;
      align-items: center;
      align-content: center;
    }

    .summary .char-class {
      &:not(.sem-classe) {
        flex: 0 1 auto;
      }

      &:not(:hover) {
        .item-delete,
        span + a.add-classe {
          visibility: hidden;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  form {
    .ability-scores {
      .ability:not(:last-child) {
        border-right: @borderGroove;
      }
    }

    &.base {
      margin-top: -5px;

      img.profile {
        flex: 0 0 @actorImageProfile;
        max-width: @actorImageProfile;
        height: @actorImageProfile;
      }

      .sheet-header {
        flex: 0 0 100%;
      }

      nav.sheet-tabs {
        align-content: center;
        text-align: center;

        &:has(.item.active[data-tab="attributes"]) {
          margin: 0 0 -1px 0;
        }
      }

      ul.attributes {
        // Defense panel
        .attribute {
          &.defense {
            h4 {
              // text-transform: uppercase;
            }

            .attribute-value {
              height: 38px;

              h1 {
                font-size: 28px;
                border: none;
                margin: none;
              }
            }

            height: 90px;
            // background-color: @colorFaint;
          }
        }
      }

      .attributes-left {
        flex: 0 0 1;
      }

      .attributes-right {
        min-width: 280px;
        flex: 0 0 40%;
        margin-left: 0.25rem;
      }
    }

    &.tabbed {
      // Character Profile image (larger)
      img.profile {
        flex: 0 0 @actorImageProfileTabbed;
        max-width: @actorImageProfileTabbed;
        height: @actorImageProfileTabbed;
      }

      .sheet-header {
        .attributes {
          .attribute {
            // height: 80px;
            // Defense panel
            &.defense {
              .attribute-value {
                h1 {
                  font-size: 22px;
                  border: none;
                  margin: none;
                }
              }

              // background-color: @colorFaint;
            }
          }
        }
      }

      .attributes-left {
        flex: 0 0 85px;

        .ability {
          border-bottom: @borderGroove;
        }

        &:last-child {
          border-bottom: none;
          margin-bottom: -3px;
        }
      }

      .attributes-mid {
        flex: 0 0 280px;
      }

      .item-list {
        .item-def {
          flex: 2;
        }
      }
    }
  }

  // Custom Resources
  .resource .attribute-value {
    > input {
      flex: 0 0 25%;
    }

    label.recharge {
      height: 32px;
      position: relative;
      font-family: "Signika", sans-serif;
      // font-size: 11px;
      text-align: center;
      color: @colorOlive;
      align-items: center;

      input[type="checkbox"] {
        flex-basis: 14px;
        height: 14px;
        width: 14px;
        margin: 0;
        top: -6px;
      }
    }
  }

  ul.skills-list {
    margin: 0;
    font-size: var(--font-size-14);

    // column-count: 2;
    // column-gap: 0px;
    &:not(:hover) a#configure-skills {
      visibility: hidden;
    }

    li {
      &.skill {
        &.item-header {
          text-align: center;

          .item-name {
            font-size: 1.25em;
          }
        }

        &.create-skill,
        &.item-header {
          column-span: all;
        }

        .item-name {
          input {
            text-align: left;
          }
        }

        h4 {
          flex: 1px;
          margin: 0;
          // font-size: 13px;
        }
      }

      &.skill-footer {
        text-align: center;
        column-span: all;

        label {
          font-size: var(--font-size-11);
        }
      }
    }
  }

  .item-detail.player-class {
    flex: 0 0 180px;
    text-align: right;
    padding-right: 10px;
  }

  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */

  .inventory-list {
    // .item-controls {

    //   .item-toggle {
    //     color: @colorBeige;
    //     &.active {
    //       color: @colorOlive;
    //     }
    //     &.fixed {
    //       color: @colorCrimson;
    //       &:hover {
    //         text-shadow: none;
    //       }
    //     }
    //   }
    // }
  }

  /* ----------------------------------------- */
  /*  Journal                                  */
  /* ----------------------------------------- */

  .tab.journal {
    align-items: flex-start;
    flex-direction: row;

    .right-notes,
    .left-notes {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .left-notes {
      margin-right: 1rem;
    }

    article {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 8px;
      position: relative;
      flex: 1;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .section-titles {
        font-weight: 700;
        border-bottom: 1px solid @colorBeige;
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem;

        input {
          height: 16px;
          width: calc(100% - 26px);
          font-weight: 700;
          border: 0;
          background: transparent;
          margin: 0;
          box-shadow: none;
        }
      }

      &:hover .editor .editor-edit {
        display: block;
      }

      .editor {
        padding: 0;
        position: static;

        .editor-edit {
          background: transparent;
          display: none;
          font-size: 1.25em;
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 1px 2px;
          background: none;
          border: none;
          box-shadow: none;
        }

        .editor-content {
          min-height: 50px;
          padding: 0;
          position: static;
        }
      }
    }
  }

  .characteristics {
    flex: 0 0 180px;
    height: 100%;
    padding: 0 3px 3px;

    label {
      flex: 0 0 20px;
      .signika();
      // font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
    }

    textarea {
      font-family: "Signika", serif;
      // font-size: 13px;
      border: 1px solid @colorFaint;
      resize: none;
    }
  }

  .journal {
    max-width: calc(100% - 0px);
  }
}
