.actors-sidebar {
  .directory-item.actor {
    a.entry-name.ellipsis {
      line-height: var(--font-size-15);
      padding: 10px 10px 10px 0px;
      .actor-level {
        font-size: x-small;
        color: var(--color-text-secondary);
        margin: 0;
      }
    }
  }
}
