&.simple {
  .sheet-header {
    .summary {
      border: 0;
    }
  }
  .sheet-body {
    height: calc(100% - 42px);
  }
  .traits {
    flex: 0 0 35%;
  }
  .sheet-body {
    height: calc(100% - 42px);
  }
  .traits {
    flex: 0 0 35%;
  }
  .item-list.general {
    .item-header {
      .item-control.item-create {
        visibility: hidden;
      }
    }
  }
}
